@import "tailwindcss";

@theme {
    --breakpoint-3xl: 120rem;
}

@font-face {
    font-family: "HelveticaNeueCyr";
    src: url("/fonts/HelveticaNeueCyr-Light.woff2") format("woff2");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "HelveticaNeueCyr";
    src: url("/fonts/HelveticaNeueCyr-Roman.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "HelveticaNeueCyr";
    src: url("/fonts/HelveticaNeueCyr-Medium.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "HelveticaNeueCyr";
    src: url("/fonts/HelveticaNeueCyr-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}



button.plyr__control.plyr__control--overlaid {
    width: 120px !important;
    height: 120px !important;
    display: flex !important;
    align-items: center;
    justify-content: center;
}

button.plyr__control.plyr__control--overlaid svg {
    width: 40px !important;
    height: 40px !important;
}

.option_image img {
    max-width: 100%;
    width: 100%;
    aspect-ratio: 423/296 !important;
    border-radius: 8px !important;
    object-fit: contain;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

#zmmtg-root {
    display: none;
}

* {
    scrollbar-width: thin;
    scrollbar-color: #C1C1C1 #EEE;
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-track {
    background: #EEE;
}

::-webkit-scrollbar-thumb {
    background-color: #C1C1C1;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #A8A8A8;
}

@keyframes swing {
    0% {
        transform: rotate(-10deg);
    }

    50% {
        transform: rotate(10deg);
    }

    100% {
        transform: rotate(-10deg);
    }
}

.animate-swing {
    animation: swing 1.5s ease-in-out infinite;
}

.primary__menu {
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.primary__menu::-webkit-scrollbar {
    display: none;
}

canvas {
    margin: 0 auto !important;
}

.plyr {
    height: 100% !important;
    width: 100% !important;
}

.slick-dots li {
    border-radius: 50%;
    width: 8px !important;
    height: 8px !important;
}

.slick-track>div {
    padding: 0 4px;
}

.slick-dots li button::before {
    display: none !important;
}

iframe {
    width: 100% !important;
}